__pycache__/
checkpoints_G_markerpen.zip
checkpoints_G_markerpen/
checkpoints_G_markerpen_light.zip
checkpoints_G_markerpen_light/
checkpoints_G_oilpaintbrush.zip
checkpoints_G_oilpaintbrush/
checkpoints_G_oilpaintbrush_light.zip
checkpoints_G_oilpaintbrush_light/
checkpoints_G_rectangle.zip
checkpoints_G_rectangle/
checkpoints_G_rectangle_light.zip
checkpoints_G_rectangle_light/
checkpoints_G_watercolor.zip
checkpoints_G_watercolor/
checkpoints_G_watercolor_light/
checkpoints_G_watercolor_light.zip
output/
test_images/
.ipynb_checkpoints/
core
checkpoints_G*
val_out/